* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      to bottom left,
      rgba(1, 39, 77, 0.5) 50%,
      rgba(57, 128, 214, 0.842) 100%
    ),
    url(1.png) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  /* 
  display: flex; → navbar হলো flex container।
  flex-wrap: wrap; → ছোট স্ক্রিনে এলিমেন্ট গুলো নিচে নেমে যেতে পারবে।
  justify-content: space-between; → logo, menu, search এর মাঝে space থাকবে।
  align-items: center; → vertically মাঝখানে বসাবে।
  padding: 20px; → চারপাশে কিছু ফাঁকা জায়গা।
  color: white; → ভিতরের লেখার রঙ সাদা। 
  */
}

.icon .logo {
  color: #ff7200;
  font-size: 35px;
  font-weight: bold;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;

  /*
  display: flex; → Menu items পাশাপাশি বসে।
  gap: 20px; → প্রতিটির মাঝে ফাঁকা।
  padding, margin 0 → ভিতরে-বাইরে ফাঁকা নেই।
  list-style: none; → bullet (●) চিহ্ন সরিয়ে ফেলা। 
   */
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;

  /* 
  text-decoration: none; → underline মুছে ফেলে।
  color: #fff; → লিংক সাদা।
  font-weight: bold; → মোটা লেখা।
  transition: 0.3s; → হোভার এফেক্ট ধীরে হবে।
   */
}

.menu ul li a:hover {
  color: #ff7200;
  /* hover করলে লিংক কমলা হয়ে যাবে। */
}
.search {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.srch {
  height: 35px;
  padding: 0 10px;
  border: 1px solid #ff7200;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.btn {
  height: 35px;
  padding: 0 15px;
  background: #ff7200;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.srch:focus,
.btn:focus {
  outline: none;
}








